@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow-1 {
  text-shadow: 1px 1px 0 #4a90e2, -1px 1px 0 #4a90e2, -1px -1px 0 #4a90e2,
    1px -1px 0 #4a90e2;
}
.text-shadow-2 {
  text-shadow: 1px 1px 0 #50e3c2, -1px 1px 0 #50e3c2, -1px -1px 0 #50e3c2,
    1px -1px 0 #50e3c2;
}
.text-shadow-3 {
  text-shadow: 1px 1px 0 #e35050, -1px 1px 0 #e35050, -1px -1px 0 #e35050,
    1px -1px 0 #e35050;
}
.slick-track {
  display: flex !important;

  gap: 10px;
}
.slick-prev:before {
  color: black !important;
}
.slick-next:before {
  color: black !important;
}
.slick-next {
  right: -30px;
}
.slick-prev {
  left: -30px;
}

.bg-search {
  /* height: 100%; */
  background: linear-gradient(0deg, rgb(14, 19, 26), rgba(14, 19, 26, 0));
  opacity: 0.95;
}
.text-chart {
  background: radial-gradient(
      50% 124.93% at 95.86% -10%,
      #3efad9 0,
      hsla(0, 0%, 100%, 0) 100%
    ),
    linear-gradient(91.56deg, #ff9357 1.54%, #9100ff 98.71%);
}
